{
	"root": true,
	"extends": "xo/browser",
	"globals": {
		"nodecg": true
	},
	"rules": {
		"new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"Polymer",
					"nodecg.Replicant"
				]
			}
		]
	},
	"plugins": [
		"html"
	]
}
