.lfg-hypetrain .column,
#lfg-hypetrain_modal .column {
  width: 100%;
  margin: 0 4px;
}
.lfg-hypetrain .column:first-of-type,
#lfg-hypetrain_modal .column:first-of-type {
  margin-right: 4px;
  margin-left: 0;
}
.lfg-hypetrain .column:last-of-type,
#lfg-hypetrain_modal .column:last-of-type {
  margin-right: 0;
  margin-left: 4px;
}
/* SUB TRAIN */
#lfg-hypetrain_modal input {
  text-align: right;
}
.lfg-hypetrain .reset-target {
  transition: opacity 100ms linear;
}
.lfg-hypetrain .reset-btn {
  position: relative;
  top: -36px;
  opacity: 0;
  transition: opacity 100ms linear;
}
.lfg-hypetrain .reset-btn:hover {
  opacity: 1;
}
