div(style="display: flex; text-align: center;")
    .column
        .ncg-label(style="margin-top: 0px;") Passengers
        .js-passengers(style="font-weight: bold; font-size: 200%;") ?
    .column
        .ncg-label(style="margin-top: 0px;") Threshold
        .js-threshold(style="font-weight: bold; font-size: 200%;") ?
div(style="display: flex; text-align: center;")
    .column
        .ncg-label Cooldown
        .js-cooldown(style="margin-top: 0px; font-weight: bold; font-size: 200%;") OFF
    .column
        .ncg-label Day Total
        .js-daytotal.reset-target(style="margin-top: 0px; font-weight: bold; font-size: 200%;") ?
        button.btn.btn-primary.btn-xs.reset-btn(data-toggle="modal" data-target="#lfg-hypetrain_resetmodal") Reset
.btn-group.btn-group-justified(style="margin-top: -24px;")
    .btn-group
        button.btn.btn-primary.btn-xs(data-toggle="modal" data-target="#lfg-hypetrain_modal") Settings

#lfg-hypetrain_modal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &#215;
                    span.sr-only Close
                h4.modal-title Sub Train Settings
            .modal-body
                div(style="display: flex")
                    .column.js-cooldownCtrls
                        h2(style="text-align: center; margin-top: 0px;") Cooldown

                        .ncg-label Duration
                        .input-group
                            span.input-group-addon Seconds
                            input.form-control.js-duration(type="number")

                        .ncg-label Manual Controls
                        .ncg-btn-group(style="margin-top: 4px;")
                            .btn-group.btn-group-justified
                                .btn-group
                                    button.js-reset.btn.btn-xs.btn-primary(type='button') Reset
                                .btn-group
                                    button.js-end.btn.btn-xs.btn-danger(type='button') End
                    .column.js-trainCtrls
                        h2(style="text-align: center; margin-top: 0px;") Train
                        .input-group
                            span.input-group-addon Passengers
                            input.form-control.js-passengers(type="number")
                        .input-group(style="margin-top:4px;")
                            span.input-group-addon Threshold
                            if bundleConfig.disableThresholdEditing
                                input.form-control.js-threshold(type="number", disabled, title="The current configuration has disabled editing of this property")
                            else
                                input.form-control.js-threshold(type="number")
                        .input-group(style="margin-top:4px;")
                            span.input-group-addon Day Total
                            input.form-control.js-daytotal(type="number")

                .alert.alert-danger(role="alert", style="margin-top: 8px;")
                    b WARNING!
                    | &nbsp&nbspChanges might not be reflected by all graphics until the next subscription.
            .modal-footer
                button.btn.btn-warning.btn-xs.js-apply(type="button", data-dismiss="modal") Apply
                button.btn.btn-default.btn-xs(type="button", data-dismiss="modal") Close
        // /.modal-content
    // /.modal-dialog
// /.modal

#lfg-hypetrain_resetmodal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &#215;
                    span.sr-only Close
                h4.modal-title Reset Donation Stats
            .modal-body
                .alert.alert-info(role="alert")
                    | The timeframe of "Day" is not automatically determined. It will only reset when you explictly tell it to.
                <p>Are you sure you wish to reset <span class="js-period" style="font-weight: bold;">day</span> stats?</p>
            .modal-footer
                button.btn.btn-danger.btn-xs.js-reset(type="button", data-dismiss="modal") Yes, reset
                button.btn.btn-default.btn-xs(type="button", data-dismiss="modal") No, do not reset
        // /.modal-content
    // /.modal-dialog
// /.modal